# macOS
.DS_Store

# Xcode build files
build/
DerivedData/

# Xcode user data
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# logs / temp
*.log
*.tmp

# environment files
.env